*
{
    padding: 0;
    margin: 0;
}
.navbar {
    display: flex;
    position: fixed;
    width: 100%;
    color: white;
    text-decoration: none;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    background-image: url('herbs1.jpg');
}
.nav ul {
    list-style: none;
    text-decoration: none;
    display: flex;
    align-items: center;
}
h4 {
    font-size: 50px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif; 
}
.nav ul li a {
    text-decoration: none;
    list-style: none;
    color: white; 
    font-size: 17px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;

}
.nav ul li a:hover {
    transition: o.4s;
    color: rgb(164, 216, 164);
    transform: scale(1.3s);
    transition-delay: 3s;
}
.nav ul li {
    justify-content: space-between;
    padding: 20px;
}
.body {
    padding: 70px
}
.head {
    font-size: 25px;
    font-weight: bold;
    font-family: arial;
    color: rgb(164, 216, 164);
}
body p {
    font-size: 20px;
    color: white;
}
body h2 {
    font-size: 50px;
    text-align: center;
    color: rgb(164, 216, 164);
}
body {
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.4)),url('stool.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}
footer {
    background: black;
    height: auto;
    width: 100vw;
    font-family: 'open sans';
    padding-top: 40px;
    color: white;
}
.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3 {
    font-size: 20px;
    font-weight: 40px;
    text-transform: capitalize;
}
.footer-content p {
    max-width: 5000px;
    margin: 10px auto;
    line-height: 20px;
}
.socials {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 10px;
}
.socials li {
    padding: 10px;
    font-size: 30px;
}
.socials li a {
    color: rgb(164, 216, 164);
    transition: color .4s ease;
}
.socials li a:hover {
    color: white;
    transition: color .4s ease; 
}
.footer-bottom {
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p {
    font-size: 15px;
}

/*responsive*/
@media(max-width:767px){
    *
{
    padding: 0;
    margin: 0;
}
.navbar {
    display: flex;
    position: fixed;
    width: 100%;
    color: white;
    text-decoration: none;
    height: 30px;
    justify-content: space-between;
    align-items: center;
    background-image: url('herbs1.jpg');
}
.nav ul {
    list-style: none;
    text-decoration: none;
    display: flex;
    align-items: center;
}
h4 {
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif; 
}
.nav ul li a {
    text-decoration: none;
    list-style: none;
    color: white; 
    font-size: 8px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;

}
.nav ul li a:hover {
    transition: o.4s;
    color: rgb(164, 216, 164);
    transform: scale(1.3s);
    transition-delay: 3s;
}
.nav ul li {
    justify-content: space-between;
    padding: 15px;
}
.body {
    padding: 70px
}
.head {
    font-size: 10px;
    font-weight: bold;
    font-family: arial;
    color: rgb(164, 216, 164);
}
body p {
    font-size: 9px;
    color: white;
}
body h2 {
    font-size: 20px;
    text-align: center;
    color: rgb(164, 216, 164);
}
body {
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.4)),url('stool.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}
footer {
    background: black;
    height: auto;
    width: 100vw;
    font-family: 'open sans';
    padding-top: 40px;
    color: white;
}
.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3 {
    font-size: 9px;
    font-weight: 40px;
    text-transform: capitalize;
}
.footer-content p {
    max-width: 5000px;
    margin: 10px auto;
    line-height: 20px;
}
.socials {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 10px;
}
.socials li {
    padding: 10px;
    font-size: 15px;
}
.socials li a {
    color: rgb(164, 216, 164);
    transition: color .4s ease;
}
.socials li a:hover {
    color: white;
    transition: color .4s ease; 
}
.footer-bottom {
    width: 100vw;
    padding: 10px 0;
    text-align: center;
}
.footer-bottom p {
    font-size: 8px;
}
}